In [3]:
# Decision Tree Classification Grid search 
# Accuracy 88%

#Binary Classification

#Sigmiod Function (0-1) having threshold value at 0.5 so clssification done if above 0.5 =class1,below 0.5 =class 0

# drop unwaned column in this datset User ID column is not required so drop User ID, axis =1

# axis=0 mentioning row, Axis =1 mentions Column

# Confusion Matrix
# check type I and type II errors and Type I error should be minimum,

# Model report, ROC_AUC (Regional operative Area Under curve)

# Evalution Matrics= Accuracy, Specificity, Sensitivity, Precision, Recall, f1 score, Macro Average, Weighted Average
# report analysis says all the values are low, so this algorithm is not fit for this problem classification

In [4]:
# importing libraries

import pandas as pd
import numpy as ny
import matplotlib.pyplot as plt

In [5]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [6]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [7]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [8]:
dataset=dataset.drop("User ID",axis=1)

In [9]:
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [10]:
dataset["Purchased"].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [11]:
indep=dataset[["Age","EstimatedSalary","Gender_Male"]]
dep=dataset[["Purchased"]]

In [12]:
indep.shape

(400, 3)

In [13]:
dep

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [14]:
# Spliting into training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(indep,dep,test_size=1/3,random_state=0)

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [16]:
from sklearn.tree import DecisionTreeClassifier

In [17]:
#https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In [19]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']} 



grid = GridSearchCV(DecisionTreeClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
   
# fitting the model for grid search 
grid.fit(X_train, Y_train)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    4.9s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:    5.1s finished
C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1_weighted', verbose=3)

In [20]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, grid_predictions)

# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(Y_test, grid_predictions)

In [21]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,grid_predictions)
# print classification report

In [22]:
from sklearn.metrics import classification_report
clf_report=classification_report(Y_test,grid_predictions)

In [23]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.88      0.94      0.91        85
           1       0.88      0.78      0.83        49

    accuracy                           0.88       134
   macro avg       0.88      0.86      0.87       134
weighted avg       0.88      0.88      0.88       134

In [24]:
from sklearn.metrics import roc_auc_score

roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])

0.858343337334934

In [25]:
table=pd.DataFrame.from_dict(re)

In [26]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004832,0.000219,0.002251,0.000360,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.820861,0.819399,0.839629,0.826587,0.009190,7
1,0.007496,0.004351,0.003758,0.001002,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.853824,0.819399,0.838120,0.837240,0.014093,5
2,0.007002,0.001774,0.002864,0.000151,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.804888,0.841974,0.862539,0.836230,0.023922,6
3,0.005818,0.002238,0.003589,0.001601,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.796667,0.831996,0.791868,0.806767,0.017847,10
4,0.004343,0.000607,0.002168,0.000598,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.819259,0.853686,0.850411,0.840954,0.015571,4
5,0.010738,0.009370,0.002098,0.000954,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.841852,0.809596,0.768742,0.806994,0.029957,9
6,0.003662,0.000456,0.001834,0.000229,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.819259,0.841974,0.907497,0.855965,0.037405,2
7,0.004521,0.000410,0.004655,0.001245,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.815259,0.798797,0.791868,0.802074,0.009840,11
8,0.006211,0.003369,0.002372,0.000534,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.796667,0.799424,0.845135,0.813613,0.022192,8
9,0.003082,0.000698,0.001999,0.000830,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.831336,0.754085,0.772727,0.786390,0.033023,12
10,0.002945,0.000060,0.001990,0.000005,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.808847,0.876797,0.895390,0.859958,0.037323,1
11,0.003632,0.000959,0.002316,0.000633,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.817398,0.809596,0.896438,0.840966,0.039134,3